<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- http://stackoverflow.com/questions/10964966/detect-ie-version-in-javascript -->
<!--[if lt IE 7 ]> <html class="ie6" xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr"> <!--<![endif]-->

  <head>
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="styles/style.css" />
  </head>

  <body>
    <div class="container" ng-controller="TurtleCtrl">
      <div class="row header-row">
        <div class="col-md-6">
          <div class='title'>{{ messageTortue }}</div>
        </div>
        <div class="col-md-6">
          <form class="form-inline text-right" action="">
            <div class="form-group">
              <input type="text" class="form-control" id="mirobotip" placeholder="Adresse de la tortue" ng-model="mirobotip">
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-default" ng-disabled="connected" ng-click="connect()">Appeler la tortue</button>
            </div>
          </div>
        </div>
      <form action="">
        <div class="form-group">
          <textarea class="form-control code" rows="15" ng-model="content" ng-class="[form-control, code, {error: errno != 0}]"></textarea>
        </div>
        <div class="form-group">
          <label ng-show="errno != 0">{{ err }}</label>
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" ng-disabled="!connected && !running" ng-click="execute()">Bouge tortue !</button>
          <button type="button" class="btn btn-primary" ng-disabled="!connected" ng-show="running" ng-click="interrupt()">Arrete tortue !</button>
        </div>
      </form>
    </div>

    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/pegjs/peg-0.9.0.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
    <script src="js/app.js"></script>
    <script src="//localhost:35729/livereload.js"></script>
  </body>
